openapi: '3.0.0'
info:
  version: 1.0.0
  title: Hypr API
  license:
    name: MIT
servers:
  - url: https://api.hypr.com/v1
paths:
  /spaces:
    get:
      summary: List all documentation spaces
      operationId: listSpaces
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: A paged array of documentation spaces
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Spaces'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new documentation space
      operationId: createSpaces
      responses:
        201:
          description: Space creation successful
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /spaces/{spaceId}:
    get:
      summary: Retrieve details for a specific documentation space
      operationId: showSpaceById
      parameters:
        - name: spaceId
          in: path
          required: true
          description: The unique identifier of the documentation space
          schema:
            type: string
      responses:
        200:
          description: Information about the requested documentation space
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Spaces'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Space:
      required:
        - id
        - name
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
    Spaces:
      type: array
      items:
        $ref: '#/components/schemas/Space'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string